.font-1-xxl {
/*    font-size: 4rem;
    line-height: 1.125;
    font-family: "Poppins", sans-serif;
    font-weight: 600; */

    font: 600 4rem/1.125 "Poppins", sans-serif;
}

/*  2 = roboto L = large */
.font-2-l {
    font: 400 1.5rem/1.5 "Roboto", sans-serif;
}