.depoimento {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    background-color: var(--cor-p1);
}

.depoimento img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Para imagens que possam ser cortadas */
    border-radius: 0x;
}

.depoimento-conteudo {
    padding: 40px 40px 80px 80px;
    align-self: end;
}

.depoimento-conteudo p {
    font-family: "Merriweather";
}